<% content_for :title do %>
  <%= "#{@model.vendor.name} #{@model.model}" %>
<% end %>

<div class="camera-heading clearfix">
  <h1><%= "#{@model.vendor.name} #{@model.model}" %></h1>
  <% if @model.prev %>
    <%= link_to "prev", "/#{@model.prev.vendor.name.downcase}/models/#{@model.prev.model_slug}", class: 'align-left' %>
  <% end %>
  <% if @model.next %>
    <%= link_to "next", "/#{@model.next.vendor.name.downcase}/models/#{@model.next.model_slug}", class: 'align-left' %>
  <% end %>
  <%= link_to "json", "/api/v1/models/#{@model.model_slug}", class: 'align-right' %>
  <%= link_to "url", '', class: 'align-right' %>
</div>
<div class="sidebar col-sm-3">
  <div class="module module-images">
    <div class="module-header">
      <h4>Images</h4>
    </div>
    <% unless @model.images.empty? %>
      <div class="module-body">
        <img class="module-image-main" src="<%= @model.images.sorted.first.file.url(:medium) %>">
        <ul class="thumbnails row">
          <% if @model.images.count > 1 %>
            <% @model.images.sorted.each do |image| %>
              <li class="col-md-3">
                <%= link_to(image_tag(image.file.url(:medium)), image.file.url(:medium)) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@model) do |f| %>
      <%= f.fields_for :images, @model, :html => {:multipart => true} do |asset| %>
        <%= asset.file_field :file %>
      <% end %>
      <%= f.submit 'contribute' %>
    <% end %>
  </div>
  <% unless @model.documents.empty? %>
    <div class="module module-documents">
      <div class="module-header">
        <h4>Downloads</h4>
      </div>
      <div class="module-body">
        <% @model.documents.each do |document| %>
          <a href="<%= document.file.url %>">
            <span class="icon-document"></span>
            <%= document.file_file_name %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="module module-table module-manufacturer">
    <div class="module-header">
      <h4 class="">Vendor Information</h4>
    </div>
    <div class="module-body">
      <% if @model.vendor.image %>
        <%= link_to(image_tag(@model.vendor.image.file.url(:medium)), "/#{@model.vendor.vendor_slug}", :class => '') %>
      <% end %>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr class="clickable">
            <td class="col-sm-3">Name</td>
            <td class="col-sm-9">
              <%= @model.vendor.name %>
            </td>
          </tr>
          <tr class="clickable">
            <td>Website</td>
            <td>
              <%= link_to @model.vendor.name, @model.vendor.url, target: '_blank' %>
            </td>
          </tr>
          <tr>
            <td>MAC Range</td>
            <td>
              <%= @model.vendor.mac.to_s.gsub('"', '').gsub('[', '').gsub(']', '').gsub(',', '<br/>').html_safe %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <%= form_for(@model.vendor) do |f| %>
      <%= f.fields_for :image, @model.vendor, :html => {:multipart => true} do |asset| %>
        <%= asset.file_field :file %>
      <% end %>
      <%= f.submit 'contribute' %>
    <% end %>
  </div>
</div>
<div class="col-sm-9">
  <div class="row">
    <div class="col-sm-12">
      <div class="module module-table module-information">
        <div class="module-header">
          <h4>Model Information</h4>
        </div>
        <div class="module-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr class="clickable">
                  <td class="col-sm-3">Vendor</td>
                  <td class="col-sm-9 manufacturer-website">
                    <%= link_to @model.vendor.name, "/#{@model.vendor.vendor_slug}" %>
                    <%= link_to('Website', @model.vendor.url, target: "_blank", class: 'icon-link') %>
                  </td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td><%= @model.model || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>Resolution</td>
                  <td><%= @model.resolution || 'Unknown' %></td>
                </tr>
                <tr class="shapes">
                  <td>Shape</td>
                  <td><%= @model.shape || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>JPEG URL</td>
                  <td><%= @model.jpeg_url || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>H264 URL</td>
                  <td><%= @model.h264_url || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>MJPEG URL</td>
                  <td><%= @model.mjpeg_url || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>Default Username</td>
                  <td><%= @model.default_username || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>Default Password</td>
                  <td><%= @model.default_password || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>Official Page</td>
                  <td>
                    <% if @model.official_url %>
                      <%= link_to @model.official_url, @model.official_url, target: '_blank' %>
                    <% else %>
                      Unknown
                    <% end %>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% if @model.additional_information %>
        <div class="module module-table module-information">
          <div class="module-header">
            <h4>Additional Information</h4>
          </div>
          <div class="module-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <% @model.additional_information.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= @model.additional_information[key] || 'Unknown' %></td>
                      <td></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <div class="module module-table module-information">
        <div class="module-header">
          <h4>Model Features</h4>
        </div>
        <div class="module-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="col-sm-3">ONVIF</td>
                  <%= editable @model, :onvif, tag: :td  %>
                </tr>
                <tr>
                  <td>PSIA</td>
                  <%= editable @model, :psia, tag: :td  %>
                </tr>
                <tr>
                  <td>PTZ</td>
                  <%= editable @model, :ptz, tag: :td  %>
                </tr>
                <tr>
                  <td>Infrared</td>
                  <%= editable @model, :infrared, tag: :td  %>
                </tr>
                <tr>
                  <td>Varifocal</td>
                  <%= editable @model, :varifocal, tag: :td  %>
                </tr>
                <tr>
                  <td>SD Card Storage</td>
                  <%= editable @model, :sd_card, tag: :td  %>
                </tr>
                <tr>
                  <td>UPnP</td>
                  <%= editable @model, :upnp, tag: :td  %>
                </tr>
                <tr>
                  <td>PoE</td>
                  <%= editable @model, :poe, tag: :td  %>
                </tr>
                <tr>
                  <td>WiFi</td>
                  <%= editable @model, :wifi, tag: :td  %>
                </tr>
                <tr>
                  <td>Audio In</td>
                  <%= editable @model, :audio_in, tag: :td %>
                </tr>
                <tr>
                  <td>Audio Out</td>
                  <%= editable @model, :audio_out, tag: :td %>
                </tr>
                <tr>
                  <td>Discontinued</td>
                  <%= editable @model, :discontinued, tag: :td %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="module module-tips">
        <div class="module-header">
          <h4>Tips</h4>
        </div>
        <div class="module-body">
          <div id="disqus_thread"></div>
          <script async type="text/javascript">
            var disqus_shortname = 'cambase';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
