<% content_for :title do %>
Camera Listing
<% end %>

<%= render 'shared/filters' %>
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-list table-cameras">
      <thead>
        <tr>
          <th><%= sort_link @search, :model, 'Images' %></th>
          <th><%= sort_link @search, :model, 'Model' %></th>
          <th><%= sort_link @search, :manufacturer, 'Manufacturer' %></th>
          <th><%= sort_link @search, :resolution, 'Resolution' %></th>
          <th class='shape'><%= sort_link @search, :shape, 'Shape' %></th>
          <% Camera::FEATURES.each do |feature| %>
          <th class="rotate">
            <div>
              <span>
                <%= sort_link @search, :"#{feature.parameterize.underscore}", feature %>
              </span>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @cameras.each do |camera| %>
        <tr>
          <td>
            <% if camera.images.empty? ==false %>
              <%= image_tag(camera.images.sorted.first.file.url(:medium), class: 'align-center', data: { fullsize: camera.images.sorted.first.file.url(:medium) }) %>
            <% end %>
          </td>
          <td>
            <%= link_to_camera_url(camera.model, camera) %>
          </td>
          <td class="manufacturer-name"><%= link_to camera.manufacturer.name, "/#{camera.manufacturer.manufacturer_slug}" %></td>
          <td><%= camera.resolution %></td>
          <td>
            <% if Camera::SHAPES.include? camera.shape.downcase %>
            <span class='icon-camera_shape_<%= camera.shape.downcase %>' title='<%= camera.shape.titleize %>'></span>
            <% else %>
            <%= camera.shape.titleize %>
            <% end %>
          </td>
          <% Camera::FEATURES.each do |feature| %>
          <td class="feature">
            <% if camera[feature.parameterize.underscore] %>
            <span class="dot" title="<%= feature %>"></span>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @cameras %>
  </div>
</div>
<div class="fullsize-image hidden"></div>
