<nav class="navbar navbar-default container" role="navigation">
  <div class="row" id="bs-example-navbar-collapse-1">
    <div class="col-sm-12">
      <div class="navbar-form col-sm-12" role="search">
        <div class="form-group">
          <%= search_form_for @search, :prefix => 'filter', url: search_models_path, html: { method: :get } do |f| %>
          <div class="search-filters row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <%= f.text_field :model_or_vendor_name_cont, :placeholder => "Search Make / Model Name", :class => "search_model" %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Vendor' %>
                <br />
                <%= f.collection_select(:vendor_id_eq, Vendor.order(:name), :id, :name, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Resolution' %>
                <br />
                <%= f.select(:resolution_eq, Model.uniq.pluck(:resolution).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Shape' %>
                <br />
                <%= f.select(:shape_eq, Model.uniq.pluck(:shape).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-12 feature-filters">
                <%= f.label 'Features' %>
                <div>
                  <span>
                    <label>
                      <%= f.check_box combine_features, :id => 'any', checked: true %>
                      Any
                    </label>
                  </span>
                  <% Model::FEATURES.each do |feature| %>
                  <span>
                    <label>
                      <%= f.check_box "#{feature.parameterize.underscore}_true", :id => "filter_#{feature.parameterize.underscore}_true" %>
                      <%= feature %>
                    </label>
                  </span>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-12 actions">
                <%= f.submit "Search", :class => 'button' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="clear-f"></div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function() {
    // vendorslist = Hash.new
    // vendorslist.add("1" => "First")
    // alert(vendorslist[0])

    function formatVendors(item) {
      //if (!item.id) return item.text;
      //vendor = Vendor.find_by_id(item.id)
      return item.text;
      //return "<img height='20px' src='" + image_tag(vendor.image.file.url) + "' /> " + item.text;
    }
    $("select#q_vendor_id_eq").select2({
      formatResult: formatVendors,
      formatSelection: formatVendors,
      escapeMarkup: function(m) { return m; }
    });
    
    $("select#q_resolution_eq").select2();

    function formatShapes(item) {
      if (!item.id) return item.text;
      return "<img height='20px' src='/assets/icons/camera_shape_" + item.id.toLowerCase() + ".png'/> " + item.text;
    }
    $("select#q_shape_eq").select2({
      formatResult: formatShapes,
      formatSelection: formatShapes,
      escapeMarkup: function(m) { return m; }
    });
  });
</script>
