<nav class="navbar navbar-default container" role="navigation">
  <div class="row" id="bs-example-navbar-collapse-1">
    <div class="col-sm-12">
      <div class="navbar-form col-sm-12" role="search">
        <div class="form-group">
          <%= search_form_for @search, :prefix => 'filter', url: search_models_path, html: { method: :get } do |f| %>
          <div class="search-filters row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <%= f.text_field :model_or_vendor_name_cont, :placeholder => "Search Make / Model Name", :class => "search_model" %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Vendor' %>
                <%= f.collection_select(:vendor_id_eq, Vendor.order(:name), :id, :name, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Resolution' %>
                <%= f.select(:resolution_eq, Model.uniq.pluck(:resolution).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Shape' %>
                <%= f.select(:shape_eq, Model.uniq.pluck(:shape).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-12 feature-filters">
                <%= f.label 'Features' %>
                <div>
                  <span>
                    <label>
                      <%= f.check_box combine_features, :id => 'any', checked: true %>
                      Any
                    </label>
                  </span>
                  <% Model::FEATURES.each do |feature| %>
                  <span>
                    <label>
                      <%= f.check_box "#{feature.parameterize.underscore}_true", :id => "filter_#{feature.parameterize.underscore}_true" %>
                      <%= feature %>
                    </label>
                  </span>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-12 actions">
                <%= f.submit "Search", :class => 'button' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="clear-f"></div>
      </div>
    </div>
  </div>
</nav>
