<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li>
          <%= link_to("API", "/api-docs") %>
        </li>
        <li>
          <%= link_to("About Cambase", "http://www.evercam.io/") %>
        </li>
        <li>
          <%= link_to("Terms", "/terms-of-service") %>
        </li>
        <li>
          <%= link_to("Contact Us", "http://www.evercam.io/contact") %>
        </li>
        <li>
          <%= link_to("Github", "https://github.com/evercam/Cambase") %>
        </li>
        <li>
          <% if user_signed_in? %>
          <%= link_to "Contribute", '#add-model-modal', data: { toggle: "modal", target: "#add-model-modal" } %>
          <% else %>
          <%= link_to "Contribute", '#signin-modal', data: { toggle: "modal", target: "#signin-modal" } %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="row">
      <small>© Evercam Limited, <%= Time.now.year %>. All Rights Reserved.</small>
    </div>
  </div>
</div>
