<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline icons">
        <li>
          <%= link_to("github", "https://github.com/evercam/Cambase", :class => "icon-github") %>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="list-inline">
        <li>
          <%= link_to("API", "/api-docs") %>
        </li>
        <li>
          <%= link_to("About Cambase", "http://www.evercam.io/") %>
        </li>
        <li>
          <%= link_to("About Evercam", "http://www.evercam.io/") %>
        </li>
        <li>
          <%= link_to("Privacy Policy", "http://www.evercam.io/terms") %>
        </li>
        <li>
          <%= link_to("Cookie Policy", "http://www.evercam.io/terms") %>
        </li>
        <li>
          <%= link_to("Contact Us", "http://www.evercam.io/contact") %>
        </li>
      </ul>
    </div>
    <div class="row">
      <small>© Evercam Limited, <%= Time.now.year %>. All Rights Reserved.</small>
    </div>
  </div>
</div>
