<nav class="navbar navbar-top" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <h1>Cambase</h1>
    </a>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to('Cameras', cameras_path) %></li>
      <li><%= link_to('Manufacturers', manufacturers_path) %></li>
      <li><%= link_to('API', api_docs_path) %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
          <%= image_tag(avatar_url(current_user)) %>
          <%= current_user.username %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to 'Sign In', 'https://api.evercam.io/oauth2/authorize?client_id=3d0e289b&amp;scope=user:view:all&amp;response_type=code&amp;redirect_uri=http://www.cambase.io/users/auth', class: 'sign_in' %></li>
      <% end %>
    </ul>
  </div>
</nav>
