<% content_for :title do %>
Model Listing
<% end %>

<nav class="navbar navbar-default container" role="navigation">
  <div class="row" id="bs-example-navbar-collapse-1">
    <div class="col-sm-12">
      <div class="navbar-form col-sm-12" role="search">
        <div class="form-group">
          <%= search_form_for @search, :prefix => 'filter', url: search_models_path, html: { method: :get } do |f| %>
          <div class="search-filters row">
            <div class="col-sm-6">
              <div class="col-sm-4">
                <%= f.label 'Vendor' %>
                <%= f.collection_select(:vendor_id_eq, Vendor.order(:name), :id, :name, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Resolution' %>
                <%= f.select(:resolution_eq, Model.uniq.pluck(:resolution).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Shape' %>
                <%= f.select(:shape_eq, Model.uniq.pluck(:shape).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-12 feature-filters">
                <%= f.label 'Features' %>
                <div>
                  <span>
                    <label>
                      <%= f.check_box combine_features, :id => 'any', checked: true %>
                      Any
                    </label>
                  </span>
                  <% Model::FEATURES.each do |feature| %>
                  <span>
                    <label>
                      <%= f.check_box "#{feature.parameterize.underscore}_true", :id => "filter_#{feature.parameterize.underscore}_true" %>
                      <%= feature %>
                    </label>
                  </span>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-12 actions">
                <%= f.submit "Search", :class => 'button' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="clear-f"></div>
      </div>
    </div>
  </div>
</nav>

<ul id="columns-vis" class="nav navbar-nav">
  <li class="dropdown">
    <a id="columns-toggle" class="dropdown-toggle" data-toggle="dropdown" title="Select columns" href="#">Columns <span class="caret"></span></a>
    <ul id="columns-list" class="dropdown-menu">
      <li><input type="checkbox" class="columns-visible" data-column="0" checked="true" /> Images</li>
      <li><input type="checkbox" class="columns-visible" data-column="2" checked="true" /> Vendor</li>
      <li><input type="checkbox" class="columns-visible" data-column="3" checked="true" /> Resolution</li>
      <li><input type="checkbox" class="columns-visible" data-column="4" checked="true" /> Shape</li>
      <li><input type="checkbox" class="columns-visible" data-column="5" checked="true" /> Onvif</li>
      <li><input type="checkbox" class="columns-visible" data-column="6" checked="true" /> PSIA</li>
      <li><input type="checkbox" class="columns-visible" data-column="7" checked="true" /> PTZ</li>
      <li><input type="checkbox" class="columns-visible" data-column="8" checked="true" /> Infrared</li>
      <li><input type="checkbox" class="columns-visible" data-column="9" checked="true" /> Verifocal</li>
      <li><input type="checkbox" class="columns-visible" data-column="10" checked="true" /> SD Card</li>
      <li><input type="checkbox" class="columns-visible" data-column="11" checked="true" /> UPnP</li>
      <li><input type="checkbox" class="columns-visible" data-column="12" checked="true" /> Disconnected</li>
      <li><input type="checkbox" class="columns-visible" data-column="13" checked="true" /> Audio In</li>
      <li><input type="checkbox" class="columns-visible" data-column="14" checked="true" /> Audio Out</li>
      <li><input type="checkbox" class="columns-visible" data-column="15" checked="true" /> PoE</li>
      <li><input type="checkbox" class="columns-visible" data-column="16" checked="true" /> WiFi</li>
    </ul>
  </li>
</ul>

<div class="col-md-12">
  <div class="data-loader">Loading recorders...</div>
  <div id="models-table" class="table-responsive" style="display:none">
    <table class="table table-models table-hover">
      <thead>
        <tr>
          <th>Images</th>
          <th>Model</th>
          <th>Vendor</th>
          <th>Resolution</th>
          <th class='shape'>Shape</th>
          <% Model::FEATURES.each do |feature| %>
          <th class="rotate">
            <div style="writing-mode: tb-rl;">
              <span>
                <%= feature %>
              </span>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @models.each do |model| %>
        <tr>
          <td style="width:100px">
            <% if model.images.empty? ==false %>
              <%= image_tag(model.images.sorted.first.file.url(:small), class: 'align-center', data: { fullsize: model.images.sorted.first.file.url(:small) }) %>
            <% end %>
          </td>
          <td>
            <%= link_to model.model, "/vendors/#{model.vendor.vendor_slug}/models/#{model.model_slug}" %>
          </td>
          <td class="manufacturer-name"><%= link_to model.vendor.name, "/vendors/#{model.vendor.vendor_slug}" %></td>
          <td><%= model.resolution %></td>
          <td>
            <% if Model::SHAPES.include? model.shape.downcase %>
              <span class='icon-camera_shape_<%= model.shape.downcase %>' title='<%= model.shape.titleize %>'></span>
            <% else %>
              <%= model.shape.titleize %>
            <% end %>
          </td>
          <% Model::FEATURES.each do |feature| %>
          <td class="feature">
            <% if model[feature.parameterize.underscore] %>
              <span class="dot" title="<%= feature %>"></span>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('div.data-loader').hide();
      $(document).ajaxStart(function() {
        $('div.data-loader').show();
     });
     $(document).ajaxStop(function() {
        $('div.data-loader').hide();
    });

    function formatVendors(item) {
      return item.text;
    }
    $("select#q_vendor_id_eq").select2({
      formatResult: formatVendors,
      formatSelection: formatVendors,
      escapeMarkup: function(m) { return m; }
    });
    $("select#q_vendor_id_eq").select2( 'val', '<%= vendor_exists(@vendor) %>');

    $("select#q_resolution_eq").select2();

    function formatShapes(item) {
      return item.text;
    }
    $("select#q_shape_eq").select2({
      formatResult: formatShapes,
      formatSelection: formatShapes,
      escapeMarkup: function(m) { return m; }
    });

    table = $('.table-models').DataTable({
      iDisplayLength: 50,
      oLanguage: {"sSearch": "<span>Filter:</span> _INPUT_"},
      fnInitComplete: function(settings, json) {
        $('div.data-loader').remove();
        $('#models-table').show();
      }
    });
    $('.dataTables_filter input').attr("placeholder", "Model Name");
    $('.dataTables_length').prepend("<button id='show-hide' style='float:left' title='Hide images'>«</button>");
    $('.dataTables_length #show-hide').replaceWith($("ul#columns-vis"));
    
    $("#columns-list").click(function(e){
      e.stopPropagation();
    });

    $('.columns-visible').change(function(e) {
      var column = table.column($(this).attr('data-column'));
      column.visible($(this).is(":checked"));
      e.preventDefault();
    });
  });
</script>