<% content_for :title do %>
Recorder Listing
<% end %>

<nav class="navbar navbar-default container" role="navigation">
  <div class="row" id="bs-example-navbar-collapse-1">
    <div class="col-sm-12">
      <div class="navbar-form col-sm-12" role="search">
        <div class="form-group">
          <%= search_form_for @search, :prefix => 'filter', url: search_recorders_path, html: { method: :get } do |f| %>
          <div class="search-filters row">
            <div class="col-sm-6">
              <div class="col-sm-4">
                <%= f.label 'Vendor' %>
                <%= f.collection_select(:vendor_id_eq, Vendor.joins(:recorders).order(:name).uniq, :id, :name, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Max. Resolution' %>
                <%= f.select(:resolution_eq, Recorder.uniq.pluck(:resolution).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-4">
                <%= f.label 'Type' %>
                <%= f.select(:recorder_type_eq, Recorder.uniq.pluck(:recorder_type).compact.sort, :include_blank => 'Any') %>
              </div>
              <div class="col-sm-12 feature-filters">
                <%= f.label 'Features' %>
                <div>
                  <span>
                    <label>
                      <%= f.check_box combine_features, :id => 'any', checked: true %>
                      Any
                    </label>
                  </span>
                  <% Recorder::FEATURES.each do |feature| %>
                  <span>
                    <label>
                      <%= f.check_box "#{feature.parameterize.underscore}_true", :id => "filter_#{feature.parameterize.underscore}_true" %>
                      <%= feature %>
                    </label>
                  </span>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-12 actions">
                <%= f.submit "Search", :class => 'button' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<ul id="columns-vis" class="nav navbar-nav" style="display:none">
  <li class="dropdown">
    <a id="columns-toggle" class="dropdown-toggle" data-toggle="dropdown" title="Select columns" href="#">Columns <span class="caret"></span></a>
    <ul id="columns-list" class="dropdown-menu">
      <li><input type="checkbox" class="columns-visible" data-column="0" checked="true" /> Images</li>
      <li><input type="checkbox" class="columns-visible" data-column="2" checked="true" /> Vendor</li>
      <li><input type="checkbox" class="columns-visible" data-column="3" checked="true" /> Max Resolution</li>
      <li><input type="checkbox" class="columns-visible" data-column="4" checked="true" /> Type</li>
      <li><input type="checkbox" class="columns-visible" data-column="5" checked="true" /> Onvif</li>
      <li><input type="checkbox" class="columns-visible" data-column="6" checked="true" /> PSIA</li>
      <li><input type="checkbox" class="columns-visible" data-column="7" checked="true" /> PTZ</li>
      <li><input type="checkbox" class="columns-visible" data-column="8" checked="true" /> Support 3rd Party</li>
      <li><input type="checkbox" class="columns-visible" data-column="9" checked="true" /> Verifocal</li>
      <li><input type="checkbox" class="columns-visible" data-column="10" checked="true" /> UPnP</li>
      <li><input type="checkbox" class="columns-visible" data-column="11" checked="true" /> HDMI</li>
      <li><input type="checkbox" class="columns-visible" data-column="12" checked="true" /> Hot Swap</li>
      <li><input type="checkbox" class="columns-visible" data-column="13" checked="true" /> Digital IO</li>
      <li><input type="checkbox" class="columns-visible" data-column="14" checked="true" /> Discontinued</li>
      <li><input type="checkbox" class="columns-visible" data-column="15" checked="true" /> Audio In</li>
      <li><input type="checkbox" class="columns-visible" data-column="16" checked="true" /> Audio Out</li>
    </ul>
  </li>
</ul>

<div class="col-md-12 table-container">
  <div class="data-loader" style="display:none">Loading...</div>
  <div id="recorders-table" class="table-responsive" style="display:none">
    <table class="table table-recorders table-hover">
      <thead>
        <tr>
          <th>Images</th>
          <th>Model</th>
          <th>Vendor</th>
          <th>Max Resolution</th>
          <th class='type'>Type</th>
          <% Recorder::FEATURES.each do |feature| %>
          <th class="rotate">
            <div style="writing-mode: tb-rl;">
              <span>
                <%= feature %>
              </span>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @recorders.each do |recorder| %>
        <tr>
          <td style="width:100px">
            <% if recorder.images.empty? ==false %>
              <%= image_tag(recorder.images.sorted.first.file.url(:small), class: 'align-center', data: { fullsize: recorder.images.sorted.first.file.url(:small) }) %>
            <% end %>
          </td>
          <td>
            <%= link_to recorder.model, "/vendors/#{recorder.vendor.vendor_slug}/recorders/#{recorder.recorder_slug}" %>
          </td>
          <td class="manufacturer-name"><%= link_to recorder.vendor.name, "/vendors/#{recorder.vendor.vendor_slug}" %></td>
          <td><%= recorder.resolution %></td>
          <td><%= recorder.recorder_type %></td>
          <% Recorder::FEATURES.each do |feature| %>
          <td class="feature">
            <% if recorder[feature.parameterize.underscore] %>
              <span class="dot" title="<%= feature %>"></span>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#recorders-table").hide();
    $("#columns-vis").hide();
    $('div.data-loader').hide();

    $(document).ajaxStart(function() {
      $('div.data-loader').show();
      $("#columns-vis").hide();
    });
    $(document).ajaxStop(function() {
      $('div.data-loader').hide();
      $("#columns-vis").show();
    });

    function formatVendors(item) {
      return item.text;
    }
    $("select#q_vendor_id_eq").select2({
      formatResult: formatVendors,
      formatSelection: formatVendors,
      escapeMarkup: function(m) { return m; }
    });
    $("select#q_vendor_id_eq").select2( 'val', '<%= vendor_exists(@vendor) %>');
    
    $("select#q_resolution_eq").select2();

    $("select#q_recorder_type_eq").select2();
    
    table = $('.table-recorders').DataTable({
      iDisplayLength: 50,
      oLanguage: {"sSearch": "<span>Filter:</span> _INPUT_"},
      fnInitComplete: function(settings, json) {
        $('div.dataloader').remove();
        $('#recorders-table').show();
        $("#columns-vis").show();
      }
    });
    $('.dataTables_filter input').attr("placeholder", "Recorder Name");
    $('.dataTables_length').prepend("<button id='show-hide' style='float:left' title='Hide images'>«</button>");
    $('.dataTables_length #show-hide').replaceWith($("ul#columns-vis"));

    $("#columns-list").click(function(e){
      e.stopPropagation();
    });

    $('.columns-visible').change(function(e) {
      var column = table.column($(this).attr('data-column'));
      column.visible($(this).is(":checked"));
      e.preventDefault();
    });
  });
</script>