<%= search_form_for @search, url: search_cameras_path, html: { method: :post } do |f| %>
<%= f.text_field :model_cont, :placeholder => "Search", :class => "search_model" %>
<%= f.submit "search", :class => 'icon-search' %>
<a href="#" class="icon-dropdown" id="search_dropdown">Dropdown</a>
<div class="search-dropdown">
  <div class="col-sm-4">
    <%= f.collection_select(:manufacturer_id_eq, Manufacturer.order(:name), :id, :name, :include_blank => '') %>
    <%= f.select(:resolution_eq, Camera.uniq.pluck(:resolution), :include_blank => '') %>
    <%= f.select(:shape_eq, options_for_select(Camera::SHAPES), :include_blank => '') %>
  </div>
  <%= f.check_box :onvif_true %>
  <%= f.check_box :psia_true %>
  <%= f.check_box :ptz_true %>
  <%= f.check_box :infrared_true %>
  <%= f.check_box :varifocal_true %>
  <%= f.check_box :sd_card_true %>
  <%= f.check_box :upnp_true %>
  <div class="row">
    <%= f.submit "search", :class => 'button right' %>
  </div>
</div>
<% end %>
