<% content_for :title do %>
	Vendor Details
<% end %>

<div class="module module-table module-manufacturer">
  <div class="col-md-12">
    <div class="module-header">
      <h4 class=""><strong>Vendor Information</strong></h4>
    </div>
    <div class="col-md-4" >
      <% if @vendor.image %>
        <%= image_tag(@vendor.image.file.url(:medium), :class => "vendor-logo") %>
      <% else %>
        <img src="/assets/no_pic.jpg">
      <% end %>
    </div>
    <div class="col-md-8" style="padding:10px;">
      <table class="table table-vendor">
        <tr>
          <td class="col-md-4">Name:</td>
          <td><%= @vendor.name %></td>
        </tr>
        <% if @vendor.url %>
          <tr>
            <td>Website</td>
            <td>
              <%= link_to @vendor.name, @vendor.url, target: '_blank' %>
            </td>
          </tr>
        <% end %>
        <% if @vendor.mac.to_s.gsub('"', '').gsub('[', '').gsub(']', '').gsub(',', '<br/>').html_safe.length >= 8 %>
          <tr>
            <td>MAC Range</td>
            <td>
              <%= @vendor.mac.to_s.gsub('"', '').gsub('[', '').gsub(']', '').gsub(',', '<br/>').html_safe %>
            </td>
          </tr>
        <% end %>
      </table>
      <div id="vendor_nav">
        <% if @vendor.prev %>
          <%= link_to "PREV", "/vendors/#{@vendor.prev.vendor_slug}", class: 'arrow' %>
        <% end %>
        <% if @vendor.next %>
          <%= link_to "NEXT", "/vendors/#{@vendor.next.vendor_slug}", class: 'arrow' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />
<div class="col-md-12 table-container">
  <div id="models-loader" class="dataloader">Loading models...</div>
  <div id="models-table" class="table-container" style="display:none">
    <table class="table models-table table-hover">
      <thead>
        <tr>
          <th>Images</th>
          <th>Model</th>
          <th>Vendor</th>
          <th>Resolution</th>
          <th class='shape'>Shape</th>
          <% Model::FEATURES.each do |feature| %>
          <th class="rotate">
            <div style="writing-mode: tb-rl;">
              <span ><%= "#{feature}" %></span>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @models.each do |model| %>
        <tr>
          <td style="width:100px">
            <% if model.images.empty? ==false %>
              <%= image_tag(model.images.sorted.first.file.url(:small), class: 'align-center', data: { fullsize: model.images.sorted.first.file.url(:small) }) %>
            <% end %>
          </td>
          <td>
            <%= link_to model.model, "/vendors/#{model.vendor.vendor_slug}/models/#{model.model_slug}" %>
          </td>
          <td class="manufacturer-name"><%= link_to model.vendor.name, "/vendors/#{model.vendor.vendor_slug}/models" %></td>
          <td><%= model.resolution %></td>
          <td>
            <% if Model::SHAPES.include? model.shape.downcase %>
              <span class='icon-camera_shape_<%= model.shape.downcase %>' title='<%= model.shape.titleize %>'></span>
            <% else %>
              <%= model.shape.titleize %>
            <% end %>
          </td>
          <% Model::FEATURES.each do |feature| %>
          <td class="feature">
            <% if model[feature.parameterize.underscore] %>
              <span class="dot" title="<%= feature %>"></span>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br />
<br />
<div class="col-md-12 table-container">
  <div id="recorders-loader" class="dataloader">Loading recorders...</div>
  <div id="recorders-table" class="table-container" style="display:none">
    <table class="table recorders-table">
      <thead>
        <tr>
          <th>Images</th>
          <th>Model</th>
          <th>Vendor</th>
          <th>Max Resolution</th>
          <th class='type'>Type</th>
          <% Recorder::FEATURES.each do |feature| %>
          <th class="rotate">
            <div style="writing-mode: tb-rl;">
              <span ><%= "#{feature}" %></span>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @recorders.each do |recorder| %>
        <tr>
          <td>
            <% if recorder.images.empty? ==false %>
              <%= image_tag(recorder.images.sorted.first.file.url(:small), class: 'align-center', data: { fullsize: recorder.images.sorted.first.file.url(:small) }) %>
            <% end %>
          </td>
          <td>
            <%= link_to recorder.model, "/vendors/#{recorder.vendor.vendor_slug}/recorders/#{recorder.recorder_slug}" %>
          </td>
          <td class="manufacturer-name"><%= link_to recorder.vendor.name, "/vendors/#{recorder.vendor.vendor_slug}/recorders" %></td>
          <td><%= recorder.resolution %></td>
          <td><%= recorder.recorder_type %></td>
          <% Recorder::FEATURES.each do |feature| %>
          <td class="feature">
            <% if recorder[feature.parameterize.underscore] %>
            <span class="dot" title="<%= feature %>"></span>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('div.data-loader').hide();
      $(document).ajaxStart(function() {
        $('div.data-loader').show();
     });
     $(document).ajaxStop(function() {
        $('div.data-loader').hide();
    });

    colDefs = [
      {
          "targets": [ 2 ],
          "visible": false
      }
    ];
    table_models = $('.models-table').DataTable({
      iDisplayLength: 25,
      oLanguage: {"sSearch": "<span>Filter:</span> _INPUT_"},
      columnDefs: colDefs,
      fnInitComplete: function(settings, json) {
        $('#models-loader').remove();
        $('#models-table').show();
      }
    });
    $('#DataTables_Table_0_length').html("<span class='table-heading'><%= @vendor.name %> Models</span>")

    table_recorders = $('.recorders-table').DataTable({
      iDisplayLength: 25,
      oLanguage: {"sSearch": "<span>Filter:</span> _INPUT_"},
      columnDefs: colDefs,
      fnInitComplete: function(settings, json) {
        $('#recorders-loader').remove();
        $('#recorders-table').show();
      }
    });
    $('#DataTables_Table_1_length').html("<span class='table-heading'><%= @vendor.name %> Recorders</span>")

  });
</script>