<% content_for :title do %>
	Vendor Details
<% end %>

<div class="module module-table module-manufacturer">
  <div class="col-md-12">
    <div class="module-header">
      <h4 class=""><strong>Vendor Information</strong></h4>
    </div>
    <div class="col-md-4" >
      <% if @vendor.image %>
        <%= image_tag(@vendor.image.file.url(:medium), :class => "vendor-logo") %>
      <% else %>
        <img src="/assets/no_pic.jpg">
      <% end %>
    </div>
    <div class="col-md-8" style="padding:10px;">
      <table class="table table-vendor">
        <tr>
          <td class="col-md-4">Name:</td>
          <td><%= @vendor.name %></td>
        </tr>
        <% if @vendor.url %>
          <tr>
            <td>Website</td>
            <td>
              <%= link_to @vendor.name, @vendor.url, target: '_blank' %>
            </td>
          </tr>
        <% end %>
        <% if @vendor.mac.to_s.gsub('"', '').gsub('[', '').gsub(']', '').gsub(',', '<br/>').html_safe.length >= 8 %>
          <tr>
            <td>MAC Range</td>
            <td>
              <%= @vendor.mac.to_s.gsub('"', '').gsub('[', '').gsub(']', '').gsub(',', '<br/>').html_safe %>
            </td>
          </tr>
        <% end %>
      </table>
      <div id="vendor_nav">
        <% if @vendor.prev %>
          <%= link_to "PREV", "/vendors/#{@vendor.prev.vendor_slug}", class: 'arrow' %>
        <% end %>
        <% if @vendor.next %>
          <%= link_to "NEXT", "/vendors/#{@vendor.next.vendor_slug}", class: 'arrow' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />
<div class="col-md-12 table-container">
  <table class="table table-hover" id="datatable_models">
      <thead>
        <tr>
          <th>Images</th>
          <th>Model</th>
          <th>Vendor</th>
          <th>Resolution</th>
          <th class='shape'>Shape</th>
          <% Model::FEATURES.each do |feature| %>
          <th class="rotate">
            <div style="writing-mode: tb-rl;">
              <span >
                <%= feature %>
              </span>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <div id="models-loader" class="data-loader">Loading models...</div>
</div>
<br />
<div class="col-md-12 table-container">
  <table class="table table-hover" id="datatable_recorders">
    <thead>
      <tr>
        <th>Images</th>
        <th>Model</th>
        <th>Vendor</th>
        <th>Resolution</th>
        <th class='type'>Type</th>
        <% Recorder::FEATURES.each do |feature| %>
        <th class="rotate">
          <div style="writing-mode: tb-rl;">
            <span >
              <%= feature %>
            </span>
          </div>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <div id="recorders-loader" class="data-loader">Loading recorders...</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('div.data-loader').hide();
      $(document).ajaxStart(function() {
        $('div.data-loader').show();
     });
     $(document).ajaxStop(function() {
        $('div.data-loader').hide();
    });

    table_models = $('#datatable_models').DataTable({
      iDisplayLength: 25,
      bProcessing: false,
      bServerSide: true,
      fnInitComplete: function(settings, json) {
        $('div#models-loader').remove();
      },
      "ajax": {
        "method": "POST",
        "url": "/models_data"
      }
    });
    $('#datatable_models_filter').hide();
    $('#datatable_models_length').html("<span class='table-heading'><%= @vendor.name %> Models</span>")

    table_models = $('#datatable_recorders').DataTable({
      iDisplayLength: 25,
      bProcessing: false,
      bServerSide: true,
      fnInitComplete: function(settings, json) {
        $('div#recorders-loader').remove();
      },
      "ajax": {
        "method": "POST",
        "url": "/recorders_data"
      }
    });
    $('#datatable_recorders_filter').hide();
    $('#datatable_recorders_length').html("<span class='table-heading'><%= @vendor.name %> Recorders</span>")
  });
</script>