<% content_for :title do %>
  API Documentation
<% end %>

<%= javascript_include_tag 'swagger/lib/shred.bundle' %>
<%= javascript_include_tag 'swagger/lib/shred.bundle' %>
<%= javascript_include_tag 'swagger/lib/jquery-1.8.0.min' %>
<%= javascript_include_tag 'swagger/lib/jquery.slideto.min' %>
<%= javascript_include_tag 'swagger/lib/jquery.wiggle.min' %>
<%= javascript_include_tag 'swagger/lib/jquery.ba-bbq.min' %>
<%= javascript_include_tag 'swagger/lib/handlebars-1.0.0' %>
<%= javascript_include_tag 'swagger/lib/underscore-min' %>
<%= javascript_include_tag 'swagger/lib/backbone-min' %>
<%= javascript_include_tag 'swagger/lib/swagger' %>
<%= javascript_include_tag 'swagger/swagger-ui' %>
<%= javascript_include_tag 'swagger/lib/highlight.7.3.pack' %>
<%= javascript_include_tag 'swagger/lib/swagger-oauth' %>

<script type="text/javascript">
  $(function () {
    window.swaggerUi = new SwaggerUi({
      url: '/api-docs/api-docs.json',
      dom_id:"swagger-ui-container",
      supportHeaderParams: false,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
      onComplete: function(swaggerApi, swaggerUi){
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
        $('[src="images/throbber.gif"]').attr('src', '<%= asset_path("throbber.gif") %>');
      },
      onFailure: function(data) {
        if(console) {
          console.log("Unable to Load SwaggerUI");
          console.log(data);
        }
      },
      docExpansion: "list"
    });

    window.swaggerUi.load();
  });

</script>

<div id="message-bar" class="swagger-ui-wrap">
  &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
