<div class="row outer-box">
  <p><a href="/">Cambase.io</a> is a project by <a href="http://evercam.io" target="_blank">Evercam.io</a> in order to make it easier for software developers to have a reliable, up to date source of model hardware information available via a public API.</p>
  <p>We encourage individuals and vendors to contribute more information to Cambase.io as a resource for future developers.</p>
  <p>This data is licensed under creative commons and is freely available for both private and commercial use.</p>
</div>

<div class="col-sm-12 outer">
  <div class="row" id="masonry-container">
    <% @vendors.each_with_index do |vendor, index| %>
      <% if vendor.image %>
        <div class="tile tile-big col-sm-3">
          <div class="box">
            <a href=<%= "/vendors/" + vendor.vendor_slug %> class="logo">
              <div class="tile-content">
                <%= image_tag(vendor.image.file.url, :title => "#{vendor.name}", alt: vendor.name) %>
              </div>
            </a>
            <span>
              <% if vendor.models.size > 0 %>
                <a href="/vendors/<%= vendor.vendor_slug.downcase %>/models"><strong><%= vendor.models.size %></strong> models</a>
              <% end %>
              <% if vendor.models.size > 0 && vendor.recorders.size > 0 %>
              , 
              <% end %>
              <% if vendor.recorders.size > 0 %>
                <a href="/vendors/<%= vendor.vendor_slug.downcase %>/recorders"><strong><%= vendor.recorders.size %></strong> recorders</a>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

