<div class="sidebar col-sm-3">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-sm-9">
  <div class="row" id="masonry-container">
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140404143729741890.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140121101611956431.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-big col-sm-4">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116164226410779.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140120124507763715.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116201803344444.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116201807998996.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116201757953976.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116192720809536.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-big col-sm-4">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140404143729741890.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116192559587788.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116170501993019.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116164226410779.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140404143729741890.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140121101611956431.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140120124507763715.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116201803344444.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116201807998996.jpg" %>
      </a>
      </div>
    </div>
    <div class="tile tile-small col-sm-2">
      <div class="tile-content">
      <a href="/cameras">
        <%= image_tag "20140116201757953976.jpg" %>
      </a>
      </div>
    </div>
  </div>
</div>
