<div class="sidebar col-sm-3">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-sm-9">
  <div class="row" id="masonry-container">
    <% @vendors.each_with_index do |vendor, index| %>
      <% if vendor.image %>
        <div class="tile tile-big col-sm-4">
          <div class="tile-content">
            <%= link_to(image_tag(vendor.image.file.url, :title => "#{vendor.name}", alt: vendor.name, lazy: true), "/vendors/#{vendor.vendor_slug}") %>
          </div>
          <span>
            <% if vendor.models.size > 0 %>
              <a href="/vendors/<%= vendor.vendor_slug.downcase %>/models"><strong><%= vendor.models.size %></strong> models</a>
            <% end %>
            <% if vendor.models.size > 0 && vendor.recorders.size > 0 %>
            , 
            <% end %>
            <% if vendor.recorders.size > 0 %>
              <a href="/vendors/<%= vendor.vendor_slug.downcase %>/recorders"><strong><%= vendor.recorders.size %></strong> recorders</a>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("img").lazyload();
  });
</script>