<% content_for :title do %>
  Vendor Listing
<% end %>

<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-list table-manufacturers">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Vendor</th>
          <th>Models</th>
          <th>Recorders</th>
        </tr>
      </thead>

      <tbody>
        <% @vendors.each do |vendor| %>
        <tr>
          <td><%= link_to image_tag(vendor.image.file.url(:small)), "#{vendor.vendor_slug.downcase}/models" if vendor.image %></td>
          <td><%= link_to vendor.name, "#{vendor.vendor_slug.downcase}/models" %></td>
          <td><%= link_to vendor.models.size, "#{vendor.vendor_slug.downcase}/models" %></td>
          <td><%= link_to vendor.recorders.size, "#{vendor.vendor_slug.downcase}/recorders" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @vendors %>
  </div>
</div>
