<%= form_for(@camera, :url => manufacturer_camera_path(@camera.manufacturer.manufacturer_slug, @camera.camera_slug)) do |f| %>
<% if @camera.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

  <ul>
    <% @camera.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <p>
    <%= f.label :manufacturer %>
    <%= f.collection_select(:manufacturer_id, Manufacturer.order(:name), :id, :name, :include_blank => 'Manufacturer') %>
  </p>
  <p>
    <%= f.label :model %>
    <%= f.text_field :model, :placeholder => 'Model' %>
  </p>
  <p>
    <%= f.label :manual_url %>
    <%= f.text_field :manual_url, :placeholder => 'Manual URL' %>
  </p>
  <p>
    <%= f.label :jpeg_url %>
    <%= f.text_field :jpeg_url, :placeholder => 'JPEG URL' %>
  </p>
  <p>
    <%= f.label :h264_url %>
    <%= f.text_field :h264_url, :placeholder => 'H264 URL' %>
  </p>
  <p>
    <%= f.label :mjpeg_url %>
    <%= f.text_field :mjpeg_url, :placeholder => 'MJPEG URL' %>
  </p>
  <p>
    <%= f.label :resolution %>
    <%= f.select(:resolution, Camera.uniq.pluck(:resolution).sort, :include_blank => 'Resolution')%>
  </p>
  <p>
    <%= f.label :firmware %>
    <%= f.text_field :firmware, :placeholder => 'Firmware' %>
  </p>
  <p>
    <%= f.label :default_username %>
    <%= f.text_field :default_username, :placeholder => 'Default Username' %>
  </p>
    <p>
    <%= f.label :default_password %>
    <%= f.text_field :default_password, :placeholder => 'Default Password' %>
  </p>
  <p>
    <%= f.label :shape %>
    <%= f.select(:shape, options_for_select(Camera::SHAPES), :include_blank => 'Shape') %>
  </p>
  <p>
    <%= f.label :onvif %>
    <%= f.check_box :onvif, :placeholder => 'ONVIF' %>
  </p>
  <p>
    <%= f.label :psia %>
    <%= f.check_box :psia, :placeholder => 'PSIA' %>
  </p>
  <p>
    <%= f.label :ptz %>
    <%= f.check_box :ptz, :placeholder => 'PTZ' %>
  </p>
  <p>
    <%= f.label :infrared %>
    <%= f.check_box :infrared, :placeholder => 'Infrared' %>
  </p>
  <p>
    <%= f.label :varifocal %>
    <%= f.check_box :varifocal, :placeholder => 'Varifocal' %>
  </p>
  <p>
    <%= f.label :sd_card %>
    <%= f.check_box :sd_card, :placeholder => 'SD card' %>
  </p>
  <p>
    <%= f.label :upnp %>
    <%= f.check_box :upnp, :placeholder => 'UPnP' %>
  </p>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
