<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-list table-cameras">
      <thead>
        <tr>
          <th>Model</th>
          <th>Manufacturer</th>
          <th>Resolution</th>
          <th>Shape</th>
          <th>Features</th>
        </tr>
      </thead>

      <tbody>
        <% @cameras.each do |camera| %>
        <tr>
          <td><%= link_to camera.model, camera %></td>
          <td><%= link_to camera.manufacturer.name, camera.manufacturer %></td>
          <td><%= camera.resolution %></td>
          <td><%= image_tag("icons/camera_shape_#{camera.shape}.png", alt: '') %></td>
          <td>
            <% Camera::FEATURES.each do |feature| %>
            <%= image_tag("icons/camera_feature_#{feature}.png", alt: feature) if camera[feature] %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @cameras %>
  </div>
</div>
