<% content_for :title do %>
<%= "#{@camera.manufacturer.name} #{@camera.model}" %>
<% end %>

<div class="camera-heading clearfix">
  <h1><%= "#{@camera.manufacturer.name} #{@camera.model}" %></h1>
  <% if @camera.prev %>
  <%= link_to "prev", manufacturer_camera_path(@camera.prev.manufacturer.manufacturer_slug, @camera.prev.camera_slug), class: 'align-left' %>
  <% end %>
  <% if @camera.next %>
  <%= link_to "next", manufacturer_camera_path(@camera.next.manufacturer.manufacturer_slug, @camera.next.camera_slug), class: 'align-left' %>
  <% end %>
  <%= link_to "json", "/api/v1/cameras/#{@camera.id}", class: 'align-right' %>
  <%= link_to "url", '', class: 'align-right' %>
</div>
<div class="sidebar col-sm-3">
  <div class="module module-images">
    <div class="module-header">
      <h4 class="add-new-image">Images</h4>
    </div>
    <% unless @camera.images.empty? %>
    <div class="module-body">
      <img class="module-image-main" src="<%= @camera.images.first.file.url(:medium) %>">
      <ul class="thumbnails row">
        <% if @camera.images.count > 1 %>
        <% @camera.images.each do |image| %>
        <li class="col-md-3">
          <%= link_to(image_tag(image.file.url(:medium)), image.file.url(:medium)) %>
        </li>
        <% end %>
        <% end %>
        <li class="col-md-3">
          <%= link_to(image_tag('icons/add_new_image.png', :class => 'add-new-image')) %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= form_for(@camera) do |f| %>
    <%= f.fields_for :images, @camera, :html => {:multipart => true} do |asset| %>
    <%= asset.file_field :file %>
    <% end %>
    <%= f.submit 'contribute' %>
    <% end %>
  </div>
  <% unless @camera.documents.empty? %>
  <div class="module module-documents">
    <div class="module-header">
      <h4>Downloads</h4>
    </div>
    <div class="module-body">
      <% @camera.documents.each do |document| %>
      <a href="<%= document.file.url %>">
        <span class="icon-document"></span>
        <%= document.file_file_name %>
      </a>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="module module-table module-manufacturer">
    <div class="module-header">
      <h4 class="add-new-image">Manufacturer Information</h4>
    </div>
    <div class="module-body">
      <% if @camera.manufacturer.image %>
      <%= link_to(image_tag(@camera.manufacturer.image.file.url(:medium)), "/#{@camera.manufacturer.manufacturer_slug}") %>
      <% end %>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr class="clickable">
            <td>Name</td>
            <td>
              <%= editable @camera.manufacturer, :name, tag: :a, href: "/#{@camera.manufacturer.manufacturer_slug}" %>
            </td>
            <td class="icon-edit"></td>
          </tr>
          <tr class="clickable">
            <td>Website</td>
            <td>
              <%= editable @camera.manufacturer, :url, tag: :a, href: @camera.manufacturer.url, target: '_blank' %>
            </td>
            <td class="icon-edit"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-9">
  <div class="row">
    <div class="col-sm-12">
      <div class="module module-table module-information">
        <div class="module-header">
          <h4>Camera Information</h4>
        </div>
        <div class="module-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <% if user_signed_in? %>
                <tr class="clickable">
                  <td>Manufacturer</td>
                  <td class="manufacturer-website">
                    <%= editable @camera, :manufacturer_id, source: Manufacturer.all.map{ |manufacturer| {value: manufacturer.id, text: manufacturer.name}}, type: :select, tag: :a, href: "/#{@camera.manufacturer.manufacturer_slug}" %>
                    <%= link_to('Website', @camera.manufacturer.url, target: "_blank", class: 'icon-link') %>
                  </td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Model</td>
                  <%= editable @camera, :model, tag: :td, link_url: request.url %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Resolution</td>
                  <%= editable @camera, :resolution, source: Camera.uniq.pluck(:resolution).compact.sort.map{ |resolution| {value: resolution, text: resolution}}, type: :select, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>ONVIF</td>
                  <%= editable @camera, :onvif, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>PSIA</td>
                  <%= editable @camera, :psia, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>PTZ</td>
                  <%= editable @camera, :ptz, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Infrared</td>
                  <%= editable @camera, :infrared, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Varifocal</td>
                  <%= editable @camera, :varifocal, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr class="shapes">
                  <td>Shape</td>
                  <%= editable @camera, :shape, source: Camera::SHAPES, type: :select, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>SD Card Storage</td>
                  <%= editable @camera, :sd_card, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>UPnP</td>
                  <%= editable @camera, :upnp, tag: :td  %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>JPEG URL</td>
                  <%= editable @camera, :jpeg_url, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>H264 URL</td>
                  <%= editable @camera, :h264_url, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>MJPEG URL</td>
                  <%= editable @camera, :mjpeg_url, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Audio In</td>
                  <%= editable @camera, :audio_in, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Audio Out</td>
                  <%= editable @camera, :audio_out, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Default Username</td>
                  <%= editable @camera, :default_username, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Default Password</td>
                  <%= editable @camera, :default_password, tag: :td %>
                  <td class="icon-edit"></td>
                </tr>
                <% else %>
                <tr>
                  <td>Manufacturer</td>
                  <td><%= @camera.manufacturer.name || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td><%= @camera.model || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Resolution</td>
                  <td><%= @camera.resolution || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>ONVIF</td>
                  <td><%= human_boolean(@camera.onvif) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>PSIA</td>
                  <td><%= human_boolean(@camera.psia) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>PTZ</td>
                  <td><%= human_boolean(@camera.ptz) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Infrared</td>
                  <td><%= human_boolean(@camera.infrared) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Varifocal</td>
                  <td><%= human_boolean(@camera.varifocal) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr class="shapes">
                  <td>Shape</td>
                  <td><%= @camera.shape || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>SD Card Storage</td>
                  <td><%= human_boolean(@camera.sd_card) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>UPnP</td>
                  <td><%= human_boolean(@camera.upnp) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>JPEG URL</td>
                  <td><%= @camera.jpeg_url || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>H264 URL</td>
                  <td><%= @camera.h264_url || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>MJPEG URL</td>
                  <td><%= @camera.mjpeg_url || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Audio In</td>
                  <td><%= human_boolean(@camera.audio_in) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Audio Out</td>
                  <td><%= human_boolean(@camera.audio_out) || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Default Username</td>
                  <td><%= @camera.default_username || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <tr>
                  <td>Default Password</td>
                  <td><%= @camera.default_password || 'Unknown' %></td>
                  <td class="icon-edit"></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="module module-tips">
        <div class="module-header">
          <h4>Tips</h4>
        </div>
        <div class="module-body">
          <div id="disqus_thread"></div>
          <script async type="text/javascript">
            var disqus_shortname = 'cambase';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
