<p id="notice"><%= notice %></p>

<% @camera.attributes.each_pair do |name, value| %>
<p>
  <strong><%= name %>:</strong>
  <%= value || 'nil' %>
</p>
<% end %>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
