<div class="sidebar col-sm-3">
  <div class="module module-images">
    <div class="module-header">
      <h4>Images</h4>
    </div>
    <% unless @camera.images.empty? %>
    <div class="module-body">
      <img class="module-image-main" src="<%= @camera.images.first.file.url(:medium) %>">
      <% if @camera.images.count > 1 %>
      <ul class="thumbnails">
        <% @camera.images.each do |image| %>
        <li>
          <%= link_to(image_tag(image.file.url(:medium)), image.file.url(:medium)) %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <% end %>
  </div>
  <% unless @camera.documents.empty? %>
  <div class="module module-documents">
    <div class="module-header">
      <h4>Downloads</h4>
    </div>
    <div class="module-body">
      <% @camera.documents.each do |document| %>
      <a href="<%= document.file.url %>">
        <span class="icon-document"></span>
        <%= document.file_file_name %>
      </a>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="col-sm-9">
  <div class="row">
    <div class="col-sm-6">
      <div class="module module-table">
        <div class="module-header">
          <h4>Information</h4>
        </div>
        <div class="module-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Manufacturer</td>
                  <td><%= @camera.manufacturer.name %></td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td><%= @camera.model %></td>
                </tr>
                <tr>
                  <td>Resolution</td>
                  <td><%= @camera.resolution || 'Unknown' %></td>
                </tr>
                <tr>
                  <td>PTZ</td>
                  <td><%= human_boolean(@camera.ptz) %></td>
                </tr>
                <tr>
                  <td>Infrared</td>
                  <td><%= human_boolean(@camera.infrared) %></td>
                </tr>
                <tr>
                  <td>Varifocal</td>
                  <td><%= human_boolean(@camera.varifocal) %></td>
                </tr>
                <tr>
                  <td>Shape</td>
                  <td><%= @camera.shape %></td>
                </tr>
                <tr>
                  <td>SD Card Storage</td>
                  <td><%= human_boolean(@camera.sd_card) %></td>
                </tr>
                <tr>
                  <td>UPnP</td>
                  <td><%= human_boolean(@camera.upnp) %></td>
                </tr>
                <% ['JPEG URL', 'H264 URL', 'MJPEG URL'].each do |url| %>
                <tr>
                  <td><%= url %></td>
                  <td>
                    <% if @camera[url.downcase.tr(' ', '_')].blank? %>
                    <%= 'Unknown'  %>
                    <% else %>
                    <%= @camera[url.downcase.tr(' ', '_')] %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="module module-tips">
        <div class="module-header">
          <h4>Tips</h4>
        </div>
        <div class="module-body">
          <div id="disqus_thread"></div>
          <script async type="text/javascript">
            var disqus_shortname = 'cambase';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>
      </div>
    </div>
  </div>
</div>
