<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <%= content_for?(:title) ? "Cambase | #{content_for(:title)}" : 'Cambase' %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="visitor-<%= user_signed_in? ? 'signed_in' : 'signed_out' %>" id='<%= "#{params[:controller].parameterize}-#{params[:action]}" %>'>
  <%= render "shared/header" %>
  <div class="main" role="main">
    <div class="container">
      <%= flash_messages %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
  <% if user_signed_in? %>
  <%= render 'shared/add_camera_modal' %>
  <%= render 'shared/add_manufacturer_modal' %>
  <% else %>
  <%= render 'shared/signin_modal' %>
  <% end %>
</body>
</html>
